<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">

    <span v-on:click="title='TEXT'">TEXT1</span>
    <span @click="title='TEXT'">TEXT2</span>

    <span v-on:mouseover="title='mouseover'">TEXT3</span>
    <span @mouseover="title='mouseover'">TEXT4</span>

    <span v-on:mouseover="changeText">TEXT5</span>

    <p>{{ title }}</p>

    <p v-bind:class="styleCSS">Color {{ styleCSS }}</p>
    <p :class="styleCSS">Color {{ styleCSS }}</p>

    <input type="text" v-on:input="styleCSS=$event.target.value">

    <br><br><br>
    <input type="text" v-on:input="increment($event.target.value)">
    <p>{{ value }}</p>
    <p>{{ doubleValue }}</p>

    <button v-on:click="show = !show">Show / Hide</button>
    <p v-if="show">This's text which can be invisible. TEXT 1</p>
    <p v-else>This's text which can be invisible. TEXT 2</p>
    <p v-show="show">This's text which can be invisibleTEXT 3</p>

    <ul>
        <li v-for="(car, i) in cars">{{ i + 1 }} - {{ car.model }}, speed {{ car.speed }}</li>
    </ul>

    <button v-on:click="show = !show">Show / Hide</button>
    <p v-if="show">This's text which can be invisible. TEXT 4</p>
    <p v-else>{{ showMess }}</p>

    <button v-on:click="show = !show">Show / Hide</button>
    <p v-if="show">This's text which can be invisible. TEXT 4</p>
    <p v-else>{{ message | lowercase | capitalise }}</p>

    <div class="car" v-for="(car, i) in cars2">
        <p>{{ car.model }}</p>
    </div>

    <comp-car></comp-car>
    <comp-car></comp-car>

</div>

<div id="app2">
    <hr>
    <comp-car></comp-car>
</div>

<script src="js/main.js"></script>
</body>
</html>